* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }

  body {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    background: @violet;
    color: @white;
    background-image: url('../images/bg-desktop1.svg');
    background-repeat: no-repeat;
    background-size: cover;

    @media @mobile {
      background-image: url('../images/bg-mobile.svg');
      background-repeat: no-repeat;
    }
  }

  header {
    margin: 40px;
}

  a { 
    color: hsl(228, 45%, 44%); 
  }
  
  h1, h2, h3, h4, h5 {
    font-family: 'Poppins', sans-serif;
  }
  
  h1 {
    font-size: 4rem;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 3.2rem;
    padding-bottom: 10px;
  }
  
  h4 {
    font-size: 2.5rem;
    padding-bottom: 10px;
  }

  .containerA::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-color: @violet;
      background-image: url('bg-desktop.svg');
      position: absolute;
      top: 0;
      left: 0;
  }

  .main-content {
      display: flex;
      flex-direction: row;
  }
  
  p {
    line-height: 1.5;
    font-size: 1.6rem;
    padding-bottom: 20px;
    margin-right: 10px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  .mock-container {
    margin: 60px;
  }

  .reg-button {
      background: @white;
      width: 140px;
      height: 60px;
      margin: 5px; 
      padding: 24px;
      padding-left: 40px;
      border-radius: 3rem;
      color: @violet;
      font-size: 16px;
  }

  .attribution {
    font-size: 1rem;
  }

  footer {
    font-size: .2rem;
    text-align: center;
  }